html, body {
    height: 100%;
}
.login-contain {
    background-color: #464646;
    background-image: url('../image/GreatFountainGeyer_ZH-CN11320043560_1920x1080.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

}
@media only screen and (max-width : 767px) {
    .login-contain {
        background-image: url('../image/StormySeas_ZH-CN9261044607_1920x1080.jpg');
    }
}

.login-main {
    height: 400px;
    width: 700px;
    background-color: yellow;

}