#contain {
    display: flex;
    flex-flow: column nowrap; 
    align-items:center;
    align-content: center;
    justify-content: center; 
}
nav{
    background-color: #ccc;
    flex: 0 1 auto;
}
article{
    flex: 0 1 auto;
    background-color: red;
}